archive_checkpoint/*
results/
results_predict/*
Nouveau dossier/*
archive_checkpoint/
archive_results/
archive_results_predict/
archive_spectre/
__pycache__/
.vscode/
indices/
npy/
*.npy
*.wav
*.pth
checkpoint